<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Website</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <br>
    <br>
    <header>
        <h1>SHAZAM! Fury of the Gods SYNOPSIS</h1>
        <img src="/assets/img/shaz/ssic.png" alt="Image 1">
    </header>
    <br>
    <body>
        <div class="card-shaz">
            <div class="scard">
                <a>
                    <img src="/assets/img/shaz/jura.jpg" alt="Image 1">
                    <br>
                    <br>
                    <h2>SHAZAM! Fury of the Gods</h2>
                    <br>

                    <a>"Jurassic World: Dominion" is the upcoming third installment in the "Jurassic World" film series and the sixth overall film in the "Jurassic Park" franchise. While the movie hasn't been released yet, I can provide you with a general synopsis based on what's known about the film's premise and casting.

                        Set several years after the events of "Jurassic World: Fallen Kingdom," "Jurassic World: Dominion" explores a world where dinosaurs now roam freely alongside humans. As the prehistoric creatures continue to spread across the globe, their presence poses both awe-inspiring wonders and dangerous threats to humanity.
                        
                        The film brings together characters from the original "Jurassic Park" trilogy, including Dr. Alan Grant (Sam Neill), Dr. Ellie Sattler (Laura Dern), and Dr. Ian Malcolm (Jeff Goldblum), who join forces with newer characters from the "Jurassic World" series, such as Owen Grady (Chris Pratt) and Claire Dearing (Bryce Dallas Howard). Together, they must navigate the evolving dynamics between humans and dinosaurs while confronting new challenges and adversaries.
                        
                        "Jurassic World: Dominion" promises to deliver epic action sequences, breathtaking visuals, and heart-pounding suspense as it explores themes of coexistence, responsibility, and the consequences of genetic manipulation. Directed by Colin Trevorrow, who helmed "Jurassic World" (2015), the film is expected to be a thrilling conclusion to the "Jurassic Park" saga, offering fans an exhilarating adventure filled with both nostalgia and fresh surprises.
                    </a>
                </a>
            </div>
        </div>
    </body>
    
    <router-outlet></router-outlet>
    

</body>