<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12 Card Link Layouts</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <section class="banner">
        <h1>Browse Movies</h1>
    </section>

    <div class="card-container">
        <div class="card">
            <a>
                <img src="/assets/img/sha.jpg" alt="Image 1">
                <hr>
                <h2>SHAZAM! Fury of the Gods</h2>
                <a href="shaz" class="btn2">Details</a>
                <hr>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/avatar.jpg" alt="Image 1">
                <hr>
                <h2>Avatar: The Way of Water</h2>
                <a href="avatar" class="btn2">Details</a>
                <hr>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/wakanda.jpg" alt="Image 1">
                <hr>
                <h2>Black Panther: Wakanda Forever</h2>
                <a href="blackp" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/thor.jpg" alt="Image 1">
                <hr>
                <h2>Thor: Love and Thunder</h2>
                <a href="thor" class="btn2">Details</a>
                <hr>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/bullet.jpg" alt="Image 1">
                <hr>
                <h2>Bullet Train</h2>
                <hr>
                <a href="train" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/jura.jpg" alt="Image 1">
                <hr>
                <h2>Jurassic World: Dominion</h2>
                <a href="jura" class="btn2">Details</a>
                <hr>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/mission.jpg" alt="Image 1">
                <hr>
                <h2>Mission Impossible: Dead Reckoning</h2>
                <a href="#" class="btn2">Details</a>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/adam.jpg" alt="Image 1">
                <hr>
                <h2>Black Adam</h2>
                <hr>
                <hr>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/bat.jpg" alt="Image 1">
                <hr>
                <h2>The Batman</h2>
                <hr>
                <hr>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/guard.jpg" alt="Image 1">
                <hr>
                <h2>Guardians of the Galaxy Vol. 3</h2>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/jones.jpg" alt="Image 1">
                <hr>
                <h2>Indiana Jones 5</h2>
                <hr>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/top.jpg" alt="Image 1">
                <hr>
                <h2>Top Gun: Maverick</h2>
                <hr>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/spid.jpg" alt="Image 1">
                <hr>
                <h2>Spider-Man: No Way Home</h2>
                <hr>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/flash.jpg" alt="Image 1">
                <hr>
                <h2>The Flash</h2>
                <hr>
                <hr>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/kuya.jpg" alt="Image 1">
                <hr>
                <h2>Doctor Strange in the Multiverse of Madness</h2>
                <a href="#" class="btn2">Details</a>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/man.jpg" alt="Image 1">
                <hr>
                <h2>Aquaman and the Lost Kingdom</h2>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/johnwick.jpg" alt="Image 1">
                <hr>
                <hr>
                <h2>John Wick Chapter 4</h2>
                <a href="#" class="btn2">Details</a>
                <hr>
            </a>
        </div>
        <div class="card">
            <a>
                <img src="/assets/img/marvels.jpg" alt="Image 1">
                <hr>
                <h2>The Marvel</h2>
                <hr>
                <a href="#" class="btn2">Details</a>
                <hr>
                <hr>
            </a>
        </div>
    </div>
</body>

<router-outlet></router-outlet>