<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Website</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <br>
    <br>
    <header>
        <h1>Avatar The Way of the Water SYNOPSIS</h1>
        <img src="/assets/img/shaz/ava.png" alt="Image 1">
    </header>
    <br>
    <body>
        <div class="card-shaz">
            <div class="scard">
                <a>
                    <img src="/assets/img/shaz/avatar.jpg" alt="Image 1">
                    <br>
                    <br>
                    <h2>SHAZAM! Fury of the Gods</h2>
                    <br>

                    <a>The sequel is expected to continue the story of the Na'vi and their world, Pandora. It will likely delve deeper into the themes of environmentalism, spirituality, and the clash between indigenous cultures and industrialized societies. The title "The Way of Water" suggests that water will play a significant role in the film, possibly exploring the underwater ecosystems of Pandora.

                        Additionally, the sequel is expected to introduce new characters and expand the lore of the "Avatar" universe. It's likely to feature groundbreaking visual effects and immersive 3D technology, similar to its predecessor.
                        
                        While I can't provide a detailed synopsis without access to the film's plot, fans can anticipate another epic adventure set in the visually stunning world of Pandora, with James Cameron at the helm.
                    </a>
                </a>
            </div>
        </div>
    </body>
    
    <router-outlet></router-outlet>
    

</body>