<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Website</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <br>
    <br>
    <header>
        <h1>Bullet Train SYNOPSIS</h1>
        <img src="/assets/img/shaz/train.png" alt="Image 1">
    </header>
    <br>
    <body>
        <div class="card-shaz">
            <div class="scard">
                <a>
                    <img src="/assets/img/shaz/bullet.jpg" alt="Image 1">
                    <br>
                    <br>
                    <h2>SHAZAM! Fury of the Gods</h2>
                    <br>

                    <a>The film follows a group of assassins with different agendas who board a bullet train in Tokyo. Each assassin is unaware of the others' identities and motives. As the train speeds towards its destination, tensions rise, leading to a high-stakes game of cat and mouse as the assassins confront each other while trying to accomplish their respective missions.

                        "Bullet Train" boasts an ensemble cast featuring stars such as Brad Pitt, Joey King, Aaron Taylor-Johnson, Zazie Beetz, Michael Shannon, and Brian Tyree Henry, among others. With Leitch's background in directing action-packed films like "John Wick" and "Atomic Blonde," audiences can expect intense action sequences, intricate plotting, and suspenseful twists as the story unfolds aboard the speeding train.
                        
                        Overall, "Bullet Train" promises to be a thrilling ride filled with intrigue, danger, and unexpected alliances as the characters navigate the confined space of the train while racing against time to achieve their goals.
                    </a>
                </a>
            </div>
        </div>
    </body>
    
    <router-outlet></router-outlet>
    

</body>