<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Website</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <br>
    <br>
    <header>
        <h1>Thor Love and Thunder SYNOPSIS</h1>
        <img src="/assets/img/shaz/thor.png" alt="Image 1">
    </header>
    <br>
    <body>
        <div class="card-shaz">
            <div class="scard">
                <a>
                    <img src="/assets/img/shaz/thunder.jpg" alt="Image 1">
                    <br>
                    <br>
                    <h2>SHAZAM! Fury of the Gods</h2>
                    <br>

                    <a>The movie picks up after the events of "Avengers: Endgame," where Thor handed over the mantle of ruler of Asgard to Valkyrie. In "Thor: Love and Thunder," Thor, played by Chris Hemsworth, finds himself facing a new challenge as he grapples with his identity and purpose. Jane Foster, portrayed by Natalie Portman, returns and is expected to become the Mighty Thor, wielding Mjolnir.

                        As Thor navigates his own journey of self-discovery, he must also confront a formidable new villain, Gorr the God Butcher, portrayed by Christian Bale. Gorr seeks to eradicate all gods across the cosmos, posing a significant threat not only to Thor but to all of existence.
                        
                        Alongside Thor and Jane, fan-favorite characters like Valkyrie (Tessa Thompson) and the Guardians of the Galaxy, led by Star-Lord (Chris Pratt), are expected to play roles in the film. Additionally, the Guardians' involvement suggests a continuation of the cosmic adventures introduced in "Thor: Ragnarok" and "Avengers: Infinity War."
                        
                        "Thor: Love and Thunder" promises to deliver the signature blend of action, humor, and heart that has come to define the Thor franchise, while also exploring new themes and character dynamics. Directed by Taika Waititi, the film is anticipated to be a wild and imaginative ride through the cosmic corners of the MCU.
                    </a>
                </a>
            </div>
        </div>
    </body>
    
    <router-outlet></router-outlet>
    

</body>