<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ADWEB</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-black">
        <div class="container px-5">
            <b><a class="navbar-brand" href="home">
                <img src="assets/img/logo.jpg"  width="50" height="50" class="d-inline-block align-top" /> 
                FlixFinder
            </a></b>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="home">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="browse">Browse</a></li>
                <li class="nav-item"><a class="nav-link active" href="recom">Recommended</a></li>
                <li class="nav-item"><a class="nav-link active" href="search">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
        
        

    <router-outlet></router-outlet>
  
